.main-nav {
  background-color: #ffffff;
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 100%;
    max-width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    max-width: 1200px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  border: none;
  padding: 0;
  background-color: #ffffff;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 5px 0 0 #81b3d2, 0 10px 0 0 #81b3d2;
}

.main-nav--opened .main-nav__toggle {
  top: 17px;
  right: 20px;
  background-color: #81b3d2;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: -3px;
    width: 28px;
    height: 4px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.site-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.site-list__item {
  background-color: #81b3d2;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  text-align: center;
  box-sizing: border-box;
  min-height: 55px;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    box-shadow: none;
    border: none;
  }

  &:nth-child(2) {
    @media (min-width: @tablet-width) {
      margin-right: 153px;
    }

    @media (min-width: @desktop-width) {
      margin-right: 240px;
    }
  }
}

.site-list__link {
  .font-bold();
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 17px 20px 12px 20px;


  @media (min-width: @tablet-width) {
    color: #000000;
    font-size: 14px;
    line-height: 21px;
    width: 153px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    width: 240px;
  }

  &--current {
    @media (min-width: @tablet-width) {
      color: #766357;
    }
  }
}
